body{
    margin: 0;
}
.logo{
  margin-bottom: 5vh;
}
.hero-page {
   background-image: url("./Assets/mile1-assets/home-banner.png");
    height: 100vh; 
   background-size:cover;
   background-position: center;
   background-repeat: no-repeat; 
  }
  .hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    text-align: center;
  }

.hero-page p{
  font-size: 4.2rem;
  color: white;
  margin-bottom: 2rem;
}
.hero-page button{
  background-color: #FDC913;
  border-radius: 2rem;
  border: 0;
padding: 1.5vh 2vw;
  text-align: center;
}
