body{
    font-family: Barlow;
}
h3{
    color: black;
    font-weight: 600;
}
p{
   color: #5F5F5F;
   font-weight: 300;
}
h2{
   
    font-weight: 700;
}
/* HEADER (OrderTop) */
.header-section{
    background-color:#CE2829 ;

}
.header{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    
}
.header>img{
    height: 3.5rem;
    margin-top: 2.2rem;
}
.header-section .header a{
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    
    text-decoration: none;
    color: white;
}
.navigate{
    font-size: small;
}
/* FORM (Order) */
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price h2{
    flex-grow: 1;
}
.rate{
    flex-grow: 0.23;
}
.main-section{
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}
.product>p{
    word-spacing: 1px;
    line-height: 1.5;
}
.product-size{
    display: flex;
    flex-direction: column;
    color:#5F5F5F;
    font-weight:500
}
.product-size>label{
    padding-bottom:1rem;
}
.product-pastry{
    display: flex;
    flex-direction: column;
}
fieldset {
    display: flex;
    justify-content: space-between;
    border: none; padding: 0;  
    max-width: 22vw;
    margin-bottom: 2rem;
    
}
.additions-container{
    width: 100%;
}
.additions{
    flex-grow: inherit;
    width: 33%;
    margin-bottom: 1.2rem;
}
.checkbox-label{
    padding-left: 0.22rem;
    font-weight: 600;
    color:#5F5F5F
}
.checkbox-container{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 4rem;
}
.product{
    margin-bottom: 2rem;
}
.yildiz{
    color: #CE2829 ;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem 1rem;
    font-size: 0.8rem;
    width: 92.5%;
}

.seperator {
    border-top: 1px solid #5F5F5F;
    margin: 2rem auto;
    width: 100%;
  }
  .order-spec{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
  }
  .orderSum-container{
    display: flex;
    flex-direction: column;
  }
  .orderSum{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem 3rem;
  }
.orderTotal{
    display: flex;
    justify-content: space-between;
}
.orderTotal-left{
    padding-right: 5rem;
}

.orderCount span{
    border: 1px solid #ccc;
    padding: 0.8rem 0.3rem;
    border-radius: 5px;
}
.minus{    padding: 1rem;
    border-radius: 5px 0px 0px 5px; background-color: #FDC913;border: 0px;
}
.plus{
    padding: 1rem;
    border-radius: 0px 5px 5px 0px; background-color: #FDC913;border: 0px;
}
.order-button{
    width: 100%;
    background-color: #FDC913;
    padding: 1rem;
    border-radius: 5px;
    border: 0px;
    font-weight:  600px;
}