body{
    font-family: Barlow;
}

/* HEADER (OrderTop) */
.header-section{
    background-color:#CE2829 ;

}
.header{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    
}
.header>img{
    height: 3.5rem;
    margin-top: 2.2rem;
}
.header-section .header a{
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    
    text-decoration: none;
    color: white;
}
/* FORM (Order) */
.main-section{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
.product-size{
    display: flex;
    flex-direction: column;
}
.product-pastry{
    display: flex;
    flex-direction: column;
}
fieldset {
    display: flex;
    justify-content: space-between;
    border: none; padding: 0;  
    margin: 0;  
}
.additions{
    display: inline-block;
    width: 30%;
}